body {
    color: white;
    background-image: url("../img/pexels-nathan-engel-436413\ \(1\).jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    font-family: Arial, Helvetica, sans-serif;   
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
}

.blur{
    backdrop-filter:blur(50px);
    color: #ff0000;
    border-radius: 20px;
    padding: 20px;
}
.logo{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ff0000;
    -webkit-text-stroke: 1px #FFF333; 
    text-shadow: 0 0 10px #ff3c00, 0 0 20px rgb(254, 135, 0), 0 0 30px rgb(254, 195, 1)
}

label{
    display: block;
    font-weight: bold;
    color: red;
   
}
input{
    width: 100%;
    background-color: #fff; 
    color: #000; 
    border: 1px solid #ff0000; 
    border-radius: 20px;
    height: 25px;

}


.tipeid{
    background-color: #fff; 
    color: #000; 
    border: 1px solid #ff0000; 
    border-radius: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 40px;
}

  .button:hover {
    background-color: #990000;
  }



